In [3]:
import numpy as np
import pandas as pd

In [5]:
data = pd.read_csv("tennis.csv")
data.head(10)

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes
5     rainy  cool   normal   True   no
6  overcast  cool   normal   True  yes
7     sunny  mild     high  False   no
8     sunny  cool   normal  False  yes
9     rainy  mild   normal  False  yes

# Using the Naive Bayes Assumption

In [6]:
#Problem 

#Given(outlook= Sunny, temp = hot, humidity = high, windy = false)
#To find- Play = YES or NO?

In [5]:
#Solution

#P(Yes/ sunny,hot,high,false) = P(sunny/Yes) * P(hot/Yes) * P(high/Yes) * P(false/Yes) * P(Yes)

#P(No/ sunny,hot,high,false) = P(sunny/No) * P(hot/No) * P(high/No) * P(false/No) * P(No)

#Compare and decide using the maximum a posteriori rule

In [9]:
data['play'].value_counts()

yes    9
no     5
Name: play, dtype: int64

In [10]:
yes = (9/14)
no = 5/14

In [11]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [14]:
#Outlook
pd.crosstab(data['outlook'],data['play'])

play      no  yes
outlook
overcast   0    4
rainy      2    3
sunny      3    2

In [23]:
Povercastno = 0
Prainyno = 2/5
Psunnyno = 3/5

Povercastyes = 4/9
Prainyyes = 3/9
Psunnyyes = 2/9

In [24]:
#Temperature
pd.crosstab(data['temp'],data['play'])

play  no  yes
temp
cool   1    3
hot    2    2
mild   2    4

In [25]:
Pcoolno = 1/5
Photno = 2/5
Pmildno = 2/5

Pcoolyes = 3/9
Photyes = 2/9
Pmildyes = 4/9

In [26]:
#humidity
pd.crosstab(data['humidity'],data['play'])

play      no  yes
humidity
high       4    3
normal     1    6

In [27]:
Phighno = 4/5
Pnormalno =1/5

Phighyes =3/9
Pnormalyes = 6/9

In [28]:
#windy
pd.crosstab(data['windy'],data['play'])

play   no  yes
windy
False   2    6
True    3    3

In [29]:
Pfalseno= 2/5
Ptrueno = 3/5
Pfalseyes = 6/9
Ptrueyes = 3/9

In [35]:
#Play = Yes and play = No
#outlook= Sunny, temp = hot, humidity = high, windy = false
#Solution - P(Yes/ sunny,hot,high,false) = P(sunny/Yes) * P(hot/Yes) * P(high/Yes) * P(false/Yes) * P(Yes)

Pyes = py * Psunnyyes * Photyes * Phighyes * Pfalseyes
print("Probability of playing is:",Pyes)

Probability of playing is: 0.007054673721340388

In [36]:
Pno = pn * Psunnyno * Photno * Phighno * Pfalseno
print("Probability of not playing is:",Pno)

Probability of not playing is: 0.02742857142857143